<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #False {
        background: #fb7979;
        font-size: 20px;
        }

        #True {
        background: #66ccff;
        font-size: 20px;
        }
    </style>
    <meta charset="UTF-8">
    <title>Tiddy Pic</title>
</head>
<body>
<a href="/">Go Back</a>
I like turtles
<a href="/updatejson">Update JSON</a>

<form method="post">
    <input type="Submit" value="Previous" name="action1">
    <input type="Submit" value="Next" name="action2">
</form>
<form method="post">
    <input type="number" value="{{ tiddy_index }}" name="Index">
</form>
Known tags: {{ known_tags }}
<table style="width:100%;table-layout:fixed">
    <colgroup>
        <col style="width:50%">
        <col style="width:10%">
        <col style="width:40%">
    </colgroup>
    <tbody>
        <tr>
            <td><div style="overflow:auto"><img src="{{ tiddy_pic }}" alt="Tits!" height="900px"></div></td>
            <td><form method="post"><input type="text" name="updateTag" value="Enter New Tag:"></form></td>
            <td><h1>Current Tags:</h1>
                <div style="font-size: 20px;">Click checkbox to swap tag</div>
                <br><br>
                <form method="post">
                    <table>
                        <tbody>
                            {% for j in categories %}
                                <tr>
                                    <td>{{ j }}</td>
                                    <td>
                                        <div id="{{ j }}">
                                            <script>
                                                for (let [i, value] of Object.entries({{ checked_Tags|tojson }})) {
                                                    parentDiv = document.getElementById({{ j }})
                                                    alphabet = ["a","b","c","d","e",'f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
                                                    k = 0
                                                    inAlphabet = true
                                                    console.log(i)
                                                    while ((i.charAt(k).toLowerCase() in alphabet) == false) {
                                                        k = k + 1
                                                        if (k >= alphabet.length) {
                                                            inAlphabet = false
                                                            k = 0
                                                            break
                                                        }
                                                    }
                                                    if (inAlphabet == true) {
                                                        parentDiv.innerHTML = {{ metadata|attr(i) }}
                                                        console.log(parentDiv.innerHTML)
                                                        currentLabel = document.createElement("label")
                                                        currentLabel.for = {{ i }}
                                                        currentLabel.id = {{ value }}
                                                        currentLabel.innerHTML = {{ i }}

                                                        parentDiv.appendChild(currentLabel)
                                                    }
                                                }
                                            </script>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br><br><input type="Submit" value="Submit Tag Changes" name="tag_submit">
                </form>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>